<%- include('Templates/headerIndex') %>

    <section class="seccion-bienvenida">
        <div class="contenedor bienvenida-info">
            <h1>Medical Costumer Service</h1>
            <p>Reserva tus citas medicas en linea</p>
            <a href="/iniciarsesion"><button class="btn">Iniciar</button></a>
        </div>
    </section>

    <section class="nuestros-servicios contenedor">
        <h2>Servicios</h2>
        <div class="servicios">
            <div class="servicio">
                <img src="img/ejemploMCS.jpg" alt="img-servicio">
                <div class="servicio-info">
                    <h3>Reserva Citas Online</h3>
                    <p>
                        Reserva tus citas desde tu hogar a cualquier hora, dile adiós
                        a las largas filas.
                    </p>
                </div>
            </div>
            <div class="servicio">
                <img src="img/ejemploMCS.jpg" alt="img-servicio">
                <div class="servicio-info">
                    <h3>Obten tus Resultados Online</h3>
                    <p>
                        Mira los resultados de tus citas sin necesidad de ir a buscarlos al hospital.
                    </p>
                </div>
            </div>
            <div class="servicio">
                <img src="img/ejemploMCS.jpg" alt="img-servicio">
                <div class="servicio-info">
                    <h3>Pagas las Citas Online</h3>
                    <p>
                        Paga las citas desde la comodidad de tu casa mediante Paypal.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
<%- include('Templates/footerUsuario') %>