<footer class="finalsection">
    <div class="final-content contenedor">
        <a href=""><img src="img/MCSSOLOLOGO.png" alt="logo-mcs" class="logo-nav"></a>
        <div class="nav-2 footerlinks">
            <a href="formulario">Contactenos</a>
            <a href="preguntasfrecuentes">Preguntas Frecuentes</a>
            <a href="nosotros">Nosotros</a>
            
        </div>
        <div class="redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>

    <div class="derechos">
        <p>Todos los derechos reservados | Medical Costumer Service 2022 &#169</p>
    </div>
</footer>

</body>
<script src="https://kit.fontawesome.com/d68418c0ce.js" crossorigin="anonymous"></script>

</html>