<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilopregs.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stilo.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Medical Costumer Service</title>
</head>

<body>

    <header>
        <div class="contenedor">
            <nav class="navegacion">
                <div class="nav-1">
                    <a href="/"><img src="/img/MCSSOLOLOGO.png" alt="logo-mcs" class="logo-nav"></a>
                </div>
                <div class="nav-2">
                    <a href="/perfilusuario">Inicio</a>
                    <a href="/citasprogramadas">Citas</a>
                    <a href="/logout"><button class="btnRed">Cerrar Sesión</button></a>
                </div>
            </nav>
        </div>

    </header>