<%- include('../Templates/header') %>

    <section class="resultado contenedor">
        <h1>Bienvenido Administrador</h1>

        <section class="nuestros-servicios">
            <div class="servicios">
                <div class="servicio">
                    <img src="../img/admin.jpeg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Agregar Servicio</h3>
                        <a href="agregarservicio"><button class="btn w100">Iniciar</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/admin.jpeg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Agregar Horario de Citas</h3>
                        <a href="agregarhorario"><button class="btn w100">Iniciar</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/admin.jpeg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Editar Horarios</h3>
                        <a href="editarhorario"><button class="btn w100">Iniciar</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/admin.jpeg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Agregar Pregunta Frecuente</h3>
                        <a href="agregarpreguntas"><button class="btn w100">Iniciar</button></a>
                    </div>
                </div>
            </div>
        </section>
        
    </section>
    
</body>
</html>