<%- include('../Templates/header') %>
  <section class="aggHorario contenedor">
    <h1>Agregar horario de cita</h1>

    <form action="/agregarhora" method="post">
    <div class="agregarservicio">
        <label for="hora">Ingrese la hora: </label>
        <input type="time" class="controls" id="hora" name="hora" >
        <div class="centrar">
          
            <input type="submit" class="btn" value="Guardar">
        
          <a href="horarios">
            <button type="button" class="btnRed">Cancelar</button>
          </a>
        </div>
      </form>

   
  </section>

  </body>
  </html>

  <script type="text/javascript">
    function mensajesatisfactorio() {

      alert("¡Se han guardado los datos satisfactoriamente!");
    }  
  </script>