<%- include('../Templates/header') %>
  <section class="contenedor">
    <h1>Agregar Pregunta</h1>
    <form action="/guardarpregunta" method="post">
      <div class="agregarservicio">

        <input type="text" class="controls" id="" placeholder="Escriba su pregunta" name="pregunta">
        <textarea class="texta" placeholder="Ingrese la respuesta" name="respuesta"></textarea>

        <div class="centrar">
          <input type="submit" class="btn" value="Guardar">
          <a href="/inicioadministrador">
            <button type="button" class="btnRed">Cancelar</button>
          </a>
        </div>
      </div>
    </form>
  </section>

  </body>

  </html>
