
  <%- include('../Templates/header') %>
  <section class="contenedor">
    <h1>Agregar Servicio</h1>
    <div class="agregarservicio">
      <div class>
        <input type="text" class="controls" id="" placeholder="Nombre del servicio">
      </div>
      <textarea class="texta" placeholder="Descripción del servicio" ></textarea>
    </div> 

    <div class>
        <input type="number" class="controls" placeholder="Precio">
    </div>

    <div class="centrar">
      <a href="calendariodecitas">
        <button type="button" class="btn" onclick="mensajesatisfactorio();">Guardar</button>
      </a>
      <a href="calendariodecitas">
        <button type="button" class="btnRed">Cancelar</button>
      </a>
    </div>
  </section>
  </section>
      
</body>
</html>

<script type="text/javascript">
  function mensajesatisfactorio() {


    alert("¡Se han guardado los datos satisfactoriamente!");
  }  
</script>