<%- include('../Templates/header') %>

    <section class="res contenedor">
        <h1>Pacientes</h1>
        <div class="resultados">
            <% pacientes.forEach( paciente => { %>
                <div id="resultado">
                    <p> <%= paciente.nombre %>, <%= paciente.apellido %> </p>
                    <a href="#"><button class="btn">ver perfil</button></a>
                </div>
                <% }) %>
        </div>
    </section>

    </body>
    <script src="https://kit.fontawesome.com/d68418c0ce.js" crossorigin="anonymous"></script>

    </html>