<%- include('../Templates/header') %>
  <section class="aggHorario contenedor">
    <h1>Editar horario de cita</h1>
    <form action="/editarhora" method="post">
      <div class="agregarservicio">
        <input name="id_horario" value="<%=horario.id_horario%>" hidden>
          <label for="hora">Ingrese la hora: </label>
          <input type="time" class="controls" id="hora" name="hora" value="<%=horario.hora%>" >
          <div class="centrar">
            
              <input type="submit" class="btn" value="Guardar">
          
            <a href="horarios">
              <button type="button" class="btnRed">Cancelar</button>
            </a>
          </div>
        </form>
  </section>

  </body>
  </html>

  