<%- include('../Templates/headerMedico') %>
<section class="aggHorario contenedor">
    <h1>Redactar Resultado</h1>
    <form action="/updateresultado" method="post">
      
      <% citas.forEach(citas => { %>

        <div class="agregarservicio">
          <input hidden name="id_cita" value="<%= citas.id_cita %> ">
          <label for="desc">Ingrese el resultado:</label>
          <textarea class="texta" name="descripcion" id="desc">ACTUALIZACIÓN: <%= citas.descripcion %> </textarea>
          <div class="centrar">
            <input type="submit" class="btn" value="Enviar">
            <a href="/citasdoctor">
              <button type="button" class="btnRed">Cancelar</button>
            </a>
          </div>
        </div>
      <% }) %>

    </form>
  </section>