<%- include('../Templates/headerMedico') %>
    <section class="resultado contenedor">
        <% if(medico){ %>
            <h1>Bienvenido, <%= medico.nombre %>
                    <%= medico.apellido %>
            </h1>
            <% } %>

                <section class="nuestros-servicios">
                    <div class="servicios">
                        <div class="servicio">
                            <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                            <div class="servicio-info">
                                <h3>Ver Citas</h3>
                                <a href="citasDoctor"><button class="btn w100">Iniciar</button></a>
                            </div>
                        </div>
                        <div class="servicio">
                            <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                            <div class="servicio-info">
                                <h3>Buscar Pacientes</h3>
                                <a href="pacientesmedico"><button class="btn w100">Iniciar</button></a>
                            </div>
                        </div>
                </section>

                </body>

                </html>