<%- include('../Templates/headerMedico') %>
    <section class="resultado contenedor">
        <% if(medico){ %>
            <h1>Bienvenido, <%= medico.nombre %>
                    <%= medico.apellido %>
            </h1>
            <% } %>

        <section class="nuestros-servicios contenedor">
            <div class="servicios">
                <div class="servicio">
                    <img src="../img/admin.jpeg" alt="img-servicio">
                    <div class="servicio-info">
                        <a href="/citasdoctor"><button class="btn w100">Ver citas</button></a>
                    </div>
                </div>
        </section>