<%- include('../Templates/headerMedico') %>
    <section class="contenedor">
        <div class="errormsj">

            <p class="red letraGrande">ERROR</p>
            <p class="letraGrande bold">Debe redactar el resultado primero, para poder editar.</p>
            <a href="/citasdoctor" class="btn">Volver</a>
            
        </div>
    </section>