<%- include('../Templates/headerMedico') %>
<section class="aggHorario contenedor">
    <h1>Redactar Resultado</h1>
    <form action="/agregarresultado" method="post">
  
      <div class="agregarservicio">
        <input hidden name="id_medico" value="<%=citas.id_medico %> ">
        <input hidden name="id_cita" value="<%= citas.id_cita %> ">
        <input hidden name="id_paciente" value="<%= citas.id_paciente %> ">
        <label for="desc">Ingrese el resultado:</label>
        <textarea class="texta" name="descripcion" id="desc"></textarea>
        <div class="centrar">
          <input type="submit" class="btn" value="Enviar">
          <a href="/citasdoctor">
            <button type="button" class="btnRed">Cancelar</button>
          </a>
        </div>
      </div>

    </form>
  </section>