<%- include('../Templates/header') %>

    <section class="resultado contenedor">
        <h1>Resultados de la Cita</h1>
        <textarea name="" class="texta" placeholder="Ingrese los resultados de la cita"></textarea>
        <button class="btn">Enviar</button>
    </section>
    
</body>
</html>