<%- include('../Templates/header') %>
  <section class="contenedor">
    <h1>Servicios</h1>
    <div class="btnagregarservicioizq">
      <a href="agregarservicio"><button type="button" class="btn">Agregar servicio</button> </a>
    </div>

    <!--tabla bonita-->
    <div class="">
      <table class="tabla w100">
        <thead class="thead">
          <tr>
            <th>Tipo de servicio</th>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <td>Consulta de Odontología</td>
            <td>Consulta general de Odontología</td>
            <td>B/. 10.00</td>
            <td><a href="editarservicio" class="btn">Editar</a> <a href="" class="btnRed"
                onclick="mensajesaeliminar();">Eliminar</a></td>
          </tr>
          <tr>
            <td>Consulta de Pediatría</td>
            <td>Consulta general de Pediatría</td>
            <td>B/. 10.00</td>
            <td><a href="editarservicio" class="btn">Editar</a> <a href="" class="btnRed"
                onclick="mensajesaeliminar();">Eliminar</a></td>
          </tr>
          <tr>
            <td>Consulta de Ginecología</td>
            <td>Consulta general de Ginecología</td>
            <td>B/. 10.00</td>
            <td><a href="editarservicio" class="btn">Editar</a> <a href="" class="btnRed"
                onclick="mensajesaeliminar();">Eliminar</a></td>
          </tr>
          <tr>
            <td>Consulta de Oftanmología</td>
            <td>Consulta general de Oftanmología</td>
            <td>B/. 10.00</td>
            <td><a href="editarservicio" class="btn">Editar</a> <a href="" class="btnRed"
                onclick="mensajesaeliminar();">Eliminar</a></td>
          </tr>
        </tbody>
      </table>
  </section>

  </body>

  </html>