<%- include('../Templates/headerUsuario') %>

<section class="citas-prog contenedor">
    <div class="inicio-cita">
        <h2>Tus Citas Programadas</h2>
        <a href="crearcita"><button class="btn">Nueva Cita</button></a>
    </div>
    <div class="citas">
        <div class="cita">
            <h3>Cita 1</h3>
            <p>
                Fecha: <span>6:00 AM</span>
            </p>
            <p>
                Tipo: <span>Consulta General</span>
            </p>
            <p>
                Precio: <span>20.00$</span>
            </p>
            <div class="botones">
                <a href="editarcita.ejs"><button class="btn">Editar Cita</button></a>
                <button class="btnRed">Cancelar Cita</button>
            </div>
        </div>
        <div class="cita">
            <h3>Cita 2</h3>
            <p>
                Fecha: <span>6:00 AM</span>
            </p>
            <p>
                Tipo: <span>Consulta General</span>
            </p>
            <p>
                Precio: <span>20.00$</span>
            </p>
            <div class="botones">
                <a href="editarcita.ejs"><button class="btn">Editar Cita</button></a>
                <button class="btnRed">Cancelar Cita</button>
            </div>
        </div>
        <div class="cita">
            <h3>Cita 3</h3>
            <p>
                Fecha: <span>6:00 AM</span>
            </p>
            <p>
                Tipo: <span>Consulta General</span>
            </p>
            <p>
                Precio: <span>20.00$</span>
            </p>
            <div class="botones">
                <a href="editarcita.ejs"><button class="btn">Editar Cita</button></a>
                <button class="btnRed">Cancelar Cita</button>
            </div>
        </div>
        <div class="cita">
            <h3>Cita 4</h3>
            <p>
                Fecha: <span>6:00 AM</span>
            </p>
            <p>
                Tipo: <span>Consulta General</span>
            </p>
            <p>
                Precio: <span>20.00$</span>
            </p>
            <div class="botones">
                <a href="editarcita.ejs"><button class="btn">Editar Cita</button></a>
                <button class="btnRed">Cancelar Cita</button>
            </div>
        </div>
        <div class="cita">
            <h3>Cita 5</h3>
            <p>
                Fecha: <span>6:00 AM</span>
            </p>
            <p>
                Tipo: <span>Consulta General</span>
            </p>
            <p>
                Precio: <span>20.00$</span>
            </p>
            <div class="botones">
                <a href="editarcita.ejs"><button class="btn">Editar Cita</button></a>
                <button class="btnRed">Cancelar Cita</button>
            </div>
        </div>
        <div class="cita">
            <h3>Cita 6</h3>
            <p>
                Fecha: <span>6:00 AM</span>
            </p>
            <p>
                Tipo: <span>Consulta General</span>
            </p>
            <p>
                Precio: <span>20.00$</span>
            </p>
            <div class="botones">
                <a href="editarcita.ejs"><button class="btn">Editar Cita</button></a>
                <button class="btnRed">Cancelar Cita</button>
            </div>
        </div>
    </div>
</section>

<%- include('../Templates/footerUsuario') %>