<%- include('../Templates/headerUsuario') %>

    <section class="contenedor">
        <h1>Historial Médico</h1>
        <div class="historiales">
            <div class="historial">
                <p class="doc">Dr. Carlos Ruiz</p>
                <p>Tratamiento:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="historial">
                <p class="doc">Dr. Carlos Ruiz</p>
                <p>Tratamiento:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="historial">
                <p class="doc">Dr. Carlos Ruiz</p>
                <p>Tratamiento:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="historial">
                <p class="doc">Dr. Carlos Ruiz</p>
                <p>Tratamiento:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="historial">
                <p class="doc">Dr. Carlos Ruiz</p>
                <p>Tratamiento:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="historial">
                <p class="doc">Dr. Carlos Ruiz</p>
                <p>Tratamiento:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>

        </div>
    </section>
