<%- include('../Templates/headerUsuario') %>

    <section class="contenedor">
        <h1>Iniciar sesion</h1>
        <h3></h3>
        
        <a href=""> <button class="btn">Ingresar</button></a>
        <a href="registrar"> <button class="btn">Registrate aquí</button></a>
    </section>

<%- include('../Templates/footerUsuario') %>