<%- include('../Templates/headerUsuario') %>

    <section class="nosotros contenedor">

        <h1>Nosotros</h1>

        <div class="nosotros_info">

            <img src="../img/ejemploMCS.jpg" alt="img-nosotros">

            <div class="nosotros_info_det">
                <h2>Misión</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Provident laudantium dignissimos maxime iste veritatis enim cumque, praesentium autem!
                    Pariatur odit rem illo a cumque nesciunt voluptatibus illum itaque, dignissimos iure!
                    lo
                </p>
                <h2>Visión</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Provident laudantium dignissimos maxime iste veritatis enim cumque, praesentium autem!
                    Pariatur odit rem illo a cumque nesciunt voluptatibus illum itaque, dignissimos iure!
                    lo
                </p>
                <h2>Valores</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Provident laudantium dignissimos maxime iste veritatis enim cumque, praesentium autem!
                    Pariatur odit rem illo a cumque nesciunt voluptatibus illum itaque, dignissimos iure!
                    lo
                </p>
            </div>

        </div>

    </section>
