<%- include('../Templates/headerIndex') %>

    <section class="nosotros contenedor">

        <h1>Nosotros</h1>

        <div class="nosotros_info">

            <img src="../img/ejemploMCS.jpg" alt="img-nosotros">

            <div class="nosotros_info_det">
                <h2>Misión</h2>
                <p>
                    La misión de nuestra empresa es agilizar el proceso de sacar una cita médica, que aquellos que tengan dificultad para agendar una, puedan hacerlo desde la comodidad de su casa y 
                    además poder ver los resultados de exámenes sin necesidad de retirarlos de manera presencial.
                </p>
                <h2>Visión</h2>
                <p>
                    Nuestra visión es poder cambiarel sistema de citas presenciales en todo el país y que las personas que no hayan utilizado un servicio como 
                    este de agendar citasmédicasen línea lo conozcan y se convierta en algo normal o comúnpara todos.
                </p>
                <h2>Valores</h2>
                <p>
                    Como empresa respetamos la privacidad del usuario, que solo personas autorizadas puedan tener acceso a los resultadosa parte del paciente.Respeto hacia todos los usuariosy clientes.
                    Entre nuestros valores contamos con: autenticidad, privacidad, puntualidad, transparencia, responsabilidad, entre otros.
                </p>
            </div>

        </div>
    </section>
