<%- include('../Templates/headerUsuario') %>

    <section class="contenedor">

        <h1>Preguntas Frecuentes</h1>

        <div class="preguntasfrecuentes">

            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>lolo</p>
            </div>
            
           
            
        </div>

    </section>

<%- include('../Templates/footerUsuario') %>