<%- include('../Templates/headerUsuario') %>

    <section class="contenedor">

        <h1>Preguntas Frecuentes</h1>

        <div class="preguntasfrecuentes">
            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
            <div class="Pregunta">
                <p>Pregunta</p>
                <p>Respuesta:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aliquid rerum fugit ipsum eos culpa
                    dolor
                    quidem voluptate doloribus, ipsam totam mollitia nobis impedit ullam cum sunt nam quas. Vel.</p>
            </div>
        </div>

    </section>

<%- include('../Templates/footerUsuario') %>