<%- include('../Templates/headerIndex') %>

    <section class="contenedor">

        <h1>Preguntas Frecuentes</h1>

        <div class="preguntasfrecuentes">

            <% pregunta.forEach(preg => { %>
                <div class="Pregunta">
                    <p><%= preg.pregunta  %> </p>
                    <p><%= preg.respuesta %> </p>
                    
                </div>
            <% }) %>
           
            
           
            
        </div>

    </section>
