<%- include('../Templates/headerUsuario') %>
    <section class="contenedor">

        <h1>Resultado</h1>

        <div class="preguntasfrecuentes">
            <div class="Pregunta">
                <p>Resultado:</p>
                <p>
                    <%= resultado.descripcion %>
                </p>

            </div>
            <a href="/citasprogramadas" class="btn">Volver</a> 

        </div>