<%- include('../Templates/headerUsuario') %>
<section class="contenedor">
    <div class="preguntasfrecuentes">
            <div class="Pregunta margin2">

                <p class="red">NO HAY RESULTADOS AÚN</p>
                <p>Debe esperar a que el médico envie los resultados</p>
                
            </div>       
            <a href="/citasprogramadas" class="btn">Volver</a> 
    </div>
</section>
