<%- include('../Templates/headerUsuario') %>

    <section class="citas-prog contenedor">

        <div class="inicioPerfil">
            <% if(paciente){ %> 
                <h1>Bienvenido, <%= paciente.nombre %> <%= paciente.apellido %> </h1>
            <% } %> 
        </div>

        <section class="nuestros-servicios">
            <div class="servicios">
                
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Tus Citas</h3>
                        <a href="/citasprogramadas"><button class="btn w100">Ver Citas</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Nueva Cita</h3>
                        <a href="crearcita"><button class="btn w100">Cita</button></a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <%- include('../Templates/footerUsuario') %>