<%- include('../Templates/headerUsuario') %>

    <section class="citas-prog contenedor">

        <div class="inicioPerfil">
            <img src="img/ejemploMCS.jpg" alt="imagen-Perfil" srcset="" class="imagenPerfil">
            <h1>Bienvenido, David</h1>
        </div>
        
         <section class="nuestros-servicios contenedor">
            <div class="servicios">
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Nueva Cita</h3>
                        <a href="crearcita"><button class="btn w100">Cita</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Ver Resultados</h3>
                        <a href="#"><button class="btn w100">Resultados</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Historial Medico</h3>
                        <a href="historial"><button class="btn w100">Historial</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Editar Perfil</h3>
                        <a href="#"><button class="btn w100">Perfil</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Pagos Pendientes</h3>
                        <a href="#"><button class="btnRed w100">Pagos</button></a>
                    </div>
                </div>
                <div class="servicio">
                    <img src="../img/ejemploMCS.jpg" alt="img-servicio">
                    <div class="servicio-info">
                        <h3>Reportes</h3>
                        <a href="#"><button class="btnRed w100">Hacer Reporte</button></a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <%- include('../Templates/footerUsuario') %>